<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="WebDriversPath" value="WebDrivers" />
    <add key="ScreenshotsFolder" value="C:\Temp" />
    <!-- SpecFlowDriver values: Firefox | Chrome | InternetExplorer | Safari | PhantomJS | <default uses PhantomJS as headless browser> -->
    <add key="SpecFlowDriver" value="Firefox" />
  </appSettings>
</configuration>
